.env_rent
data/geo/
data/processed/train.parquet
data/processed/test.parquet
catboost_info
# OS / IDE junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.env
/.env
/data/raw/
/models/catboost_model_v1.cbm
